.Brand {
  display: inline-block;
  background-color: $brand-color;
  font-size: 3rem;
  color: $brand-font-color;
  padding: $padding-big;
  border: 1px solid currentColor;
  text-decoration: none;
  font-family: $brand-font-family;
  font-weight: bold;

  &.-big {
    font-size: 5rem;
  }

  &.-sober {
    background-color: transparent;
    border: none;
  }
}