/* #######################
   # VARIABLES PARTAGÉES #
   #######################*/

/* Couleur du thème */
$color-base: #459;
$color-secondary: #2ad;

/* grid */
$grid-col1-width : 250px;
$grid-col2-width : 1fr;

/* margin */
$margin-smallest: 2px;
$margin-smaller: 3px;
$margin-small: 4px;
$margin-base: 5px;
$margin-big: 10px;
$margin-bigger: 15px;
$margin-biggest: 20px;

/* padding */
$padding-smallest: 2px;
$padding-smaller: 3px;
$padding-small: 4px;
$padding-base: 5px;
$padding-big: 10px;
$padding-bigger: 15px;
$padding-biggest: 20px;

/* radius */
$radius-base: 5px;

/* #########
   # BLOCS #
   #########*/

/* Brand */
$brand-color: #f70;
$brand-font-color: #fff;
$brand-font-family: 'Oxygen', sans-serif;

/* Button */
// bouton par défaut
$button-default-reverse-color: #fff;
$button-default-color: #6b6b6b;

// bouton de lien
$button-link-color: $color-base;
$button-link-reverse-color: #fff;

// bouton de validation sans danger
$button-no-danger-color: #070;
$button-no-danger-reverse-color: #fff;

// bouton de danger
$button-danger-color: #f00;
$button-danger-reverse-color: #fff;

/* Card */
$card-border-color: #0cf;
$card-border-color-hover: darken($card-border-color, 20%);

/* Footer */
$footer-bg-color: $color-base;

/* Header */
$header-bg-color: $color-base;
$header-brand-width: $grid-col1-width - $padding-base;
$header-padding: $padding-base;

/* MainContent */
$main-bg-color: #def;

/* MainMenu */
$mainMenu-bg-color: $color-secondary;

/* Search */
$search-button-bg-color: $color-secondary;
$search-button-bg-hover-color: darken($search-button-bg-color, 15%);
$search-input-bg-color: #fff;
$search-input-border: solid 4px $color-secondary;
$search-input-focus-border: solid 4px invert($color-base);
$search-input-placeholder-font-color: #999;
