<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="LayoutContainer">
<header class="Header LayoutContainer_header">
    <p class="Brand -sober -big Header_brand">Telem</p>
    <form class="Header_banner Search" action="" method="post">
        <input class="Search_input" type="text" name="searchProduct" placeholder="rechercher un produit...">
        <button class="Search_button" type="submit">&#x1F50E</button>
    </form>
</header>
<aside class="MainMenu LayoutContainer_mainMenu"></aside>
<main class="Main LayoutContainer_mainContent">
    {% block body %}
    {% endblock %}
</main>
<footer class="Footer LayoutContainer_footer">
    pied2paj
</footer>
</body>
</html>